name: Deploy Next.js App

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'

        - name: Create config.json
        run: |
          echo "${{ secrets.CONFIG_JSON }}" > ./src/config/config.json

      - name: Install dependencies
        run: yarn install

      - name: Build Next.js app
        run: yarn build 

      - name: Deploy to server
        uses: easingthemes/ssh-deploy@v2.1.5
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: ${{ secrets.TARGET }}
        with:
          args: '-avz --delete'
          source: '.'
          target: ${{ secrets.TARGET }}